<div class="container">
  <h3><%= "#{type} editor".upcase %></h3>

  <%= form_tag subject_contents_path, method: :post do %>
    <%= hidden_field_tag 'type', type %>
    <div class="row">
      <div class="col-md-1">
        <%= submit_tag 'Save', class: 'btn btn-success'%>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-12">
        <%= text_area_tag :editor %>
      </div>
    </div>
  <% end %>
</div>